.galaxies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;

  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  padding: 30px 0;
  background-image: url(https://images.unsplash.com/photo-1558158539-226f4a45f7b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1189&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.212);
  justify-items: center;
  align-items: center;
}
.galaxy-description {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: justify;
  padding: 0px 40px;
  color: #ffffff;
}
