.main {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
}

.bannerListing {
  background-image: url("/src/assets/pexels-philippe-donn-1169754.jpg");
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
