.planet-image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* background-color: rgba(19, 18, 18, 0.747); */
  width: 100%;
  height: 100vh;
  padding: 30px 0;
}

.bg {
  background-image: url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701913961-optimized.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}
